<div class="content">
  <div>
      <img src="assets/userIcon.png" alt="image"/>
      <div class="user-name" >Utilisateur  </div>
  </div>
  <div>
      <p>
          Adresse mail : <input matInput value="mail" disabled>
          <button mat-fab color="primary" class="add_button">
              <mat-icon>edit</mat-icon>
          </button>
      </p>

      <p>
          Mot de passe : <input matInput value="mdp" disabled>
          <button mat-fab color="primary" class="add_button">
              <mat-icon>edit</mat-icon>
          </button>
      </p>
  </div>
  <mat-divider></mat-divider>
  <div>


</div>
